.accueil-container {
    text-align: center;
    padding: 2rem;
    background-color: #01257d;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accueil-container h1 {
    color: #00FFFF;
    font-size: 3rem;
}

.accueil-container p {
    font-size: 1.2rem ;
    margin: 1rem 0;
}

.custom-button {
    background-color: #00FFFF;
    color: #01257d;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3sease;
}

.custom-button:hover {
    background-color: 00cccc;
}