.footer {
    background-color: #c1c6d4;
    color: rgb(77, 91, 108);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 98,5%;
  }

ol li a{
  text-decoration: none;
  font-size: small;
  color: rgb(77, 91, 108);
}

/* icones */
a i{
  font-size: 20px;
    color:rgb(77, 91, 108);
    width: 30px;
}