.reservation-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #01257d;
}

.parking-list {
  list-style: none;
  padding: 0;
}

.parking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: white;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.btn-reserver {
  background-color: #01257d;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-reserver:hover {
  background-color: #0056b3;
}

.reservation-form {
  background: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.reservation-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.reservation-form input,
.reservation-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-confirm {
  width: 100%;
  padding: 10px
}




  